
    {{>header}}
    <p>Bienvenido a la pagina de promedio estudiante</p>
    <p>El promedio del estudiante {{estudiante}} es 
        {{obtenerPromedio notas1 notas2 notas3}}
    </p>
    {{>footer}}
